body {
  background-color: black;
  color:white;
}

ul {
  display: block;
  list-style-type: square;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

a {
  border:none;
  outline:none;
  text-decoration:none;
  color:#00e5ff; 
}

.bug-reports {
  font-weight: 500;
  color: blue;
}
