body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 0.1px;
  font-size: 14.5px;
}

ul {
  display: block;
  list-style-type: square;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

a {
  border: none;
  outline: none;
  text-decoration: none;
  color: #00e5ff;
}

.center {
  margin: auto;
  width: 60%;
}

.button {
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif !important;
}

.button {
  background-color: #008CBA;
}

.bg {
  background-color: slategray;
  padding-right: 1369px;
  color: #05f0e8;
  cursor: default;
}

/* Blue */
.highest-donator {
  color: yellow;
}

.video {
  height: 30%;
  width: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ANDROID {
  width: 10px;
  height: 15px;
}

#import {
  color: orange;
}

#url {
  color: #05f0e8;
}

.red {
  background: #ff0000;
  cursor: default;
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: 500;
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif !important;
}

.code-block {
  background-color: gray;
  color: white;
  cursor: default;
}

.code {
    background-color: slategray;
    padding-right: 900px;
    color: #05f0e8;
    cursor: default;
}

.sidenav {
  border: 1px solid white;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.openNav {
	position: fixed;
	z-index: 1;
	top: 150px;
	left: 40px;
	top: 20px;
	color:black;
	border: 3px solid white;
	background: white;
	border-radius: 10px;
}
