body {
  background-color: black;
  color:white;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 0.1px;
  font-size: 14.5px;
}

ul {
  display: block;
  list-style-type: square;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

a {
  border:none;
  outline:none;
  text-decoration:none;
  color:#00e5ff;
}

.center {
  margin: auto;
  width: 60%;
}

.button {
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif !important;
}

.button {background-color: #008CBA;} /* Blue */

.highest-donator {color:yellow;}

.video {
  height: 30%;
  width: 100px;
}

body {
  background-color: black;
  color:white;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke-width: 0.1px;
  font-size: 14.5px;
}

ul {
  display: block;
  list-style-type: square;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

a {
  border:none;
  outline:none;
  text-decoration:none;
  color:#00e5ff;
}

.center {
  margin: auto;
  width: 60%;
}

.button {
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif !important;
}

.button {background-color: #008CBA;} /* Blue */

.highest-donator {color:yellow;}

.video {
  height: 30%;
  width: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
